services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: estatechecker
    container_name: estatechecker
    ports:
      - "8085:8085"
    env_file:
      - .env
    depends_on:
      - postgres

  postgres:
    image: postgres:18
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"

volumes:
  postgres_data:
